@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
	background-color: #e2ebfb;
}
#webcam,
#capture {
	width: 50%;
	height: auto;
}

#banner {
	width: 100%;
}

#capture-btn {
	width: 100%;
	padding: 2%;
	display: block;
	font-size: 32px;
	border: none;
	cursor: pointer;
	text-align: center;
	background-color: #363f4e;
	color: #e2ebfb;
	font-family: Montserrat;
	font-weight: bold;
}

.result {
	height: 20%;
	width: 20%;
	float: left;
	justify-content: center;
	text-align: center;
}

#container {
	float: left;
	background-color: #e2ebfb;
}

#face {
	padding: 10%;
	height: 80%;
	width: 80%;
}
